# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
eggs/
.eggs/
*.egg-info/
.cache
wheelhouse/

# pybind11-stubgen
stubs/

# ipython/jupyter notebooks
notebooks/
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea
# VSCode editor settings
.vscode
# Mac OS-specific storage files
.DS_Store

# GUI config
imgui.ini

# Converted URDF that used to contain package:// paths
**/*_package_keyword_replaced.urdf
dev/drake
dev/pybind11_mkdoc
